@import './variables';
@import './animation';
@import './mixin';
@import './transition';
  
* {
  box-sizing: border-box;
}

html, body {
  font-family: 微軟正黑體, "Microsoft JhengHei", 'LiHei Pro', Arial, 新細明體, sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  line-height: 1.8;
  background: url('../images/bg.png') repeat;
}

img {
  width: 100%;
  border: 0px;
  vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1000px;
  padding: 0 15px;
  margin: 0 auto;
}

.block {
  margin: 30px 0;

  &__title {
    position: relative;
    margin: 30px 0;
    text-align: center;

    h2 {
      display: inline-block;
      margin: 0;
      font-weight: bold;
      font-size: 1.6rem;
      padding: 2px 35px;
      background-color: $black;
      color: #fff;
      border-radius: 50px;
      box-shadow: 3px 3px 0 $vue_color;
    }

    i {
      margin-right: 10px;
    }
  }
}

hr {
  border: 1px solid $vue_color;
  margin: 15px 0;
}
code {
  white-space: pre-wrap;
}

pre {
  margin: 0;
}