$primary-color: #2688e9;
$primary-green: #4bd864;
$primary-purple: #170051;

$fb-color: #3b5998;
$twitter-color: #00aced;
$youtube-color: #e52d27;
$google-color: #dd4b39;
$weibo-color: #e32529;
$line-color: #00b900;
$instagram-color:
/////// Use radial gradients to get the rounded
/////// gradient effect in each corner
// left bottomradial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
// left top
radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
//  right top
radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
// right bottom
radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
/////// create a base coat to smooth
/////// corner gradients
linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);


$text-color: black;

$font-weight-normal: 400;
$font-weight-bold: 600;

$font-size-title: 1.4em;
$font-size-subTitle: 1.1em;

$menu-height: 100px;

$list-color: (#bf3545, #e4007e, #ee7700, #008b3e, #0096b2, #674497, #20a79c, #FFEB3B, #9C27B0, #E91E63, #bf1e2e, #bf1e2e);