@mixin rwd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

* {
  box-sizing: border-box;
}

body {
  background-color: #eeeeee;
  font-size: 16px;
  margin: 0;
}

.alert {
  max-width: 660px;
  margin: 60px auto;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 10px;
  padding: 35px 100px 45px 30px;
  display: flex;
  transform-origin: center;
  will-change: transform, opacity, filter;

  &.is-escape {
    pointer-events: none;
    animation: screen-off .65s cubic-bezier(.25, .8, .25, 1) forwards;
  }

  @include rwd {
    max-width: none;
    width: 100%;
    margin: 0;
    border-radius: 0;
    border: none;
    padding: 15px 15px 35px;
    flex-direction: column;
    align-items: center;
  }

  &__icon {
    width: 45px;
    margin-right: 20px;

    @include rwd {
      width: 60px;
      margin-bottom: 15px;
    }

    img {
      max-width: 100%;
    }
  }

  &__body {
    flex: 1;
  }

  &__title {
    font-weight: bold;
    font-size: 1.2rem;
    padding-top: 5px;
  }

  &__content {
    padding: 15px 0;
    border: 1px solid #bbb;
    border-left: none;
    border-right: none;
    font-size: 1.1rem;
    margin: 3px 0 10px;
  }

  &__tips {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      font-size: .9rem;
      margin: 2px 0;
    }
  }

  &__btn {
    margin-top: 20px;
    cursor: pointer;
  }

  &__exit {
    position: fixed;
    right: 5px;
    bottom: 5px;
    z-index: 1;
    display: none;

    &.is-active {
      display: inline-block;
    }
  }
}

@keyframes screen-off {
  0% {
    transform: scale(1, 1);
    opacity: 1;
    filter: brightness(1);
  }

  45% {
    transform: scale(1.03, .08);
    opacity: 1;
    filter: brightness(2.2);
  }

  75% {
    transform: scale(.03, .03);
    opacity: 1;
    filter: brightness(3);
  }

  100% {
    transform: scale(0, 0);
    opacity: 0;
    filter: brightness(0);
  }
}

.commandline {
  position: fixed;
  top: 30px;
  left: 45px;
  width: 700px;
  height: 85%;
  background-color: #111;
  color: #fff;
  padding: 5px 10px;
  display: none;
  overflow: auto;

  @include rwd {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 10px;
    white-space: nowrap;
    padding: 2px 5px;
  }

  &.is-active {
    display: block;
  }
}